{{ define "main" }}

<h1 class="text-3xl font-bold accent-slate-900">This is the project page. </h1>
<ul>
    {{ range (where .Site.RegularPages "Section" "project") }}
    <li>
        <a href="{{ .RelPermalink }}">
            <div class="bg-slate-200 rounded-md p-6 mt-6 hover:bg-slate-300">
                <p class="font-bold mb-2 text-2xl">{{ .Title }}</p>
                <p class="">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
                <p>{{ .Params.teaser_description }}</p>
                {{ if .Params.teaser_image }}
                    <img src="{{ .Params.teaser_image }}" alt="{{ .Title }}" class="w-60 rounded-md mt-4" />
                {{ end }}
            </div>
        </a>

    </li>
    {{ end }}
</ul>

{{ end }}
