<div class="h-full bg-red-500 p-12">

    <div class="bg-white rounded-md p-6">

        <a href="/">
            <h1 class="text-2xl font-bold mb-4">Michele Spatari</h1>
        </a>

        <ul class="">

            <li><a href="/project" class="capitalize">Projects</a></li>

            <li><a href="/story" class="">Stories</a></li>

            <li><a href="/portrait" class="">Portraits</a></li>

            <li><a href="/video" class="">Videos</a></li>

            <li><a href="/about" class="">About</a></li>

            <li><a href="/tearsheet" class="">Tearsheets</a></li>

        </ul>

    </div>

</div>
