<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="/dist/output.css">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>

    <body class="bg-slate-100">

        <div class="grid grid-cols-12 h-full">

            <div class="col-span-3">
                {{partial "nav" .}}
            </div>

            <div class="col-span-9 bg-white p-10">
                {{ block "main" .}} {{ end }}
            </div>

        </div>

    </body>

</html>
